<h4>Internal Server Error - refreshing the page will make the error disappear!</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this the Angular is probably not to blame</p>
    <P>What to do next?</P>
    <ol>
        <li>Open the chrome dev tools</li>
        <li>Inspect the network tab</li>
        <li>Check the failing request</li>
        <li>Examine the request URL - make sure it is correct</li>
        <li>Reproduce the error in Postman - if we see the same response, then the issue is not with Angular</li>
    </ol>
    <p>Following is the stack trace - this is where your investigation should start!</p>
    <div class="container" style="background: #1a1b29;
    color: #1a1b29;">    
        <code class="mt-5">{{error.details}}</code>
    </div>
    <hr>
    
</ng-container>